@charset "UTF-8";

body {
	margin:0px;
	padding:0px;
	background-attachment: scroll;
	background-image: url(../images/background.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}
.header {
	width:100%;
	height:200px;
	background-color:#310066;
	margin-left:auto;
	margin-right:auto;

}
#header_center {
	width:900px;
	margin-left:auto;
	margin-right:auto;
}
#header_image {
	width:320px;
	height:145px;
	margin-top:25px;
	float:left;
	background-image: url(../images/love_story.jpg);
}
.cab {
	float: right;
	margin-top: 10px;
	margin-right: 30px;
}	

#cab_button {
	float:right;
	width: 160px; 
	height: 30px;
	margin-left: 20px;
	text-align:center;
	border-radius: 10px;
	border: 2px solid #e2e2e2;
	background-color: #87CEEB;
}

#cab_button a {
	font-size: 20px;
	color: #fff;
	text-decoration: none;
	font-family:  "Comic Sans MS", cursive, sans-serif;
}

.nav {
	float: right;
	margin-top: 140px; 
	margin-right: -250px;
}

#nav_button {
	margin-left:40px;
	text-align:center;
	float:left;
	width: 120px; 
	height: 30px;
	border-radius: 10px;
	border: 1px solid #e2e2e2;
	background-color: #e6e6fa;

}
#nav_button a {
	font-size:22px;
	color: #310066;
	font-family:  "Comic Sans MS", cursive, sans-serif;
	text-decoration: none;
}

.content {
	width: 100%;
}
#home_text {
	margin-left: 100px;
	float: left;
	color: #310066;
	margin-top:100px;
	font-size:35px;
	font-style: italic;
}
#home_image {
	height:400px;
	margin-bottom: -100px;
	background-attachment: scroll;
	background-image: url(../images/home.jpg);
	background-repeat: no-repeat;
	background-position: right center;
}
.footer_bar {
	width:100%;
	height:100px;
	background-color: #310066;
}

.footer_copyright {
	text-align: center;
	font-size: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #310066;
}

#redtext {
	color: #f00;
}

#LoveStory {
	color: #FF0099;	
	font-family: Gabriola, Arial, Helvetica, sans-serif;
	font-size: 28px;
}