@charset "UTF-8";

.review_before_block {
	margin: 10px;
	margin-left: 100px;
	font-size: Verdana, Arial, Helvetica, sans-serif;
}
.review {
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 15px;
}

.review_block {
	border: 2px groove black;
	border-radius: 15px;
	background-color: #eee;
	width: 1100px;
}
#review_block_title {
	margin-left: 10px;
	margin-bottom: -15px;
	font-size: 14px;
}
#review_block_date {
	color: #555;
	margin-left: 10px;
}
#review_block_text {
	padding: 5px;
	padding-left: 20px;
	font-size: Verdana, Arial, Helvetica, sans-serif;
}
.review_form {
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	border: 2px double black;
	border-radius: 10px;
	width: 40%;
}
.review_form h3 {
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#review_form_submit {
	text-align: center;
}

#review_button_delete {
	margin: 20px;
	margin-left: 100px;
}