@charset "UTF-8";

.story {
	margin: 40px;
}

.story_block {
	margin-bottom: 30px;
	margin-top: 30px;
}

.story_block_border {
	border: 1px solid black;
	border-radius: 20px;
	background-color: #ccc;
}

#story_block_title {
	text-align: center;
	font-size: 14px;
	padding-bottom: 30px;
}
#story_block_text {
	padding-bottom: 50px;
	padding-right: 50px;
	padding-left: 50px;
	font-size: Verdana, Arial, Helvetica, sans-serif;
}

.story_buttons {
	border: 1px dashed black;
	margin: 10px;
}

#story_button_add {
	margin-top: -20px;
	margin-bottom: -20px;
	text-align: center;
	width: 200px;
	border-radius: 10px;
	background-color: #aaa;
}

#story_button_add a {
	color: #fff;
	font-size: 20px;
	text-decoration: none;
	font-size: Verdana, Arial, Helvetica, sans-serif;
}
#story_button_delete {
	float: right;
}

#story_button_edit {
	text-align: center;
	width: 230px;
	border-radius: 10px;
	background-color: #111;
}
#story_button_edit a {
	color: #fff;
	font-size: 20px;
	text-decoration: none;
	font-size: Verdana, Arial, Helvetica, sans-serif;
}

#story_select {
	float: right;
}

.story_form {
	border: 1px solid black;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
	width: 65%;
	text-align: center;
}