@charset "UTF-8";

body {
	margin:0px;
	padding:0px;
	background-attachment: scroll;
	background-image: url(../images/background.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}
.header {
	width:100%;
	height:200px;
	background-color:#000000;
}
.header #center {
	width:900px;
	margin-left:auto;
	margin-right:auto;
}
.header #image {
	width:320px;
	height:145px;
	margin-top:25px;
	float:left;
	background-image: url(../images/love_story.jpg);
}
.header #login a {
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	font: bold;
	float: right;
	margin-top: 10px;
	margin-right: 30px;
}	
.navigation {
	float: right;
	margin-top: 140px; 
}
.navigation #navigation_button {
	width: 100px; /*This number you can edit when you need to add more with to fit your text inside the button */
	margin-left:40px;
	text-align:center;
	float:left;
	background-image: url(../images/navigation_button.jpg);
	background-position: center;
}
.navigation #navigation_button a {
	font-size:20px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #111;
	text-decoration: none;
}
.content {
	width: 100%;
}
.home #text {
	margin-left: 100px;
	float: left;
	color:#000000;
}
.home #image {
	height:400px;
	margin-bottom: -100px;
	background-attachment: scroll;
	background-image: url(../images/home.jpg);
	background-repeat: no-repeat;
	background-position: right center;
}

.home #mainline {
	margin-top:100px;
	font-size:35px;
	font-style: italic;
}
.registration {
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 15px;
	border: 4px double black;
	width: 20%;
}
.registration #form_text {
	text-align: right;
}
.registration h3 {
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.registration #submit {
	text-align: center;
	margin: 5px;
}
.registration #required_field {
	padding-top: 5px;
	font-size: 10px;
	text-align: center;
}

.review_before_block {
	margin: 10px;
	margin-left: 100px;
	font-size: Verdana, Arial, Helvetica, sans-serif;
}
.review {
	border: 2px groove black;
	margin-left: 100px;
	margin-right: 100px;
	background-color: #eee;
	margin-bottom: 15px;
}
.review #title {
	margin-left: 10px;
	margin-bottom: -15px;
	font-size: 14px;
}
.review #date {
	color: #555;
	margin-left: 10px;
}
.review #text {
	padding: 5px;
	padding-left: 20px;
	font-size: Verdana, Arial, Helvetica, sans-serif;
}
.review_form {
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	border: 2px double black;
	width: 40%;
}
.review_form h3 {
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.review_form #submit {
	text-align: center;
}

.story {
	margin-top: 40px;
	margin-right: 40px;
	margin-left: 40px;
}
.story_block {
	border: 1px solid black;
	border-radius: 20px;
	margin-bottom: 40px;
}

.story_block #title {
	text-align: center;
	font-size: 14px;
	padding-bottom: 30px;
}
.story_block #text {
	padding-bottom: 50px;
	padding-right: 50px;
	padding-left: 50px;
	font-size: Verdana, Arial, Helvetica, sans-serif;
}
.story_block #button_delete {
	width: 170px;
	float: right;
	text-align: center;
	background-position: center;
	background-image: url(../images/story_button_delete.gif);
}
.story_block #button_delete a {
	color: #fff;
	font-size: 20px;
	text-decoration: none;
	font-size: Verdana, Arial, Helvetica, sans-serif;
}
.story #button_add {
	margin-bottom: 10px;
	width: 200px; 
	height: 50px;
	border: 1px solid white;
	border-radius: 15px;
	text-align: center;
	background-image: url(../images/story_button_add.jpg);
}

.story #button_add a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #fff;
	text-decoration: none;
}

.story_add_form {
	border: 1px solid black;
	margin: 20px;
	margin-right: auto;
	margin-left: auto;
	padding: 20px;
	width: 45%;
}
.story_add_form #submit{
	text-align: center;
}


.footer_bar {
	width:100%;
	height:100px;
	background-color:#000000;;
}

.footer_copyright {
	text-align: center;
	font-size: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}


.created {
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
	font-size: 25px;
}

#redtext {
	color: #f00;
}