@charset "UTF-8";

.cabinet {
	width: 25%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 20px;
	color: #310066;
	border: 4px double #310066;
	border-radius: 20px;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#cab_form {
	margin-left: 35px;
	margin-bottom: 10px;
}

#cab_form_text {
	text-align: right;
}

#reg_required_field {
	font-size: 10px;
	font-style: italic;
}