@charset "UTF-8";

.story {
	margin: 20px;
}
.story_show {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
	border: 2px solid purple;
	border-radius: 20px;
	background-color: #eeeeff;
}

#story_title {
	text-align: center;
	font-size: 18px;
	color: #dd00cc;	
	font-family: Gabriola, Arial, Helvetica, sans-serif;
}
#story_text {
	padding-bottom: 50px;
	padding-right: 50px;
	padding-left: 50px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#story_single {
	text-align: right;
}
#story_single a{
	color: #dd0099;	
	text-decoration: none;
}
#story_img {
	text-align: center;
	margin-top: 20px;
}