@charset "UTF-8";

.story {
	margin: 40px;
}

.story_show {
	margin-bottom: 30px;
	border: 2px solid purple;
	border-radius: 20px;
	background-color: #eeeeff;
}

#story_title {
	text-align: center;
	font-size: 18px;
	font-family: Gabriola, Arial, Helvetica, sans-serif;
}
#story_text {
	padding-bottom: 50px;
	padding-right: 50px;
	padding-left: 50px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}