@charset "UTF-8";

.story {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}
.story_show {
	margin-bottom: 20px;
	border: 2px solid purple;
	border-radius: 20px;
	background-color: #eeeeff;
}
#story_show_title {
	text-align: center;
	font-size: 18px;
	font-family: Gabriola, Arial, Helvetica, sans-serif;
}
#story_show_text {
	padding-bottom: 50px;
	padding-right: 50px;
	padding-left: 50px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* Кнопки */

#story_add {
	text-align: center;
	width: 300px;
	border-radius: 10px;
	background-color: #8b00ff;
}
#story_add a {
	color: #fff;
	font-size: 20px;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#story_add a:hover {
	color: #00ff00;
}

#story_edit {
	float: right;
	text-align: center;
	margin: 4px;
	width: 260px;
	border-radius: 10px;
	background-color: #120a8f;
}
#story_edit a {
	color: #fff;
	font-size: 20px;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#story_edit a:hover {
	color: #00ff00;
}
#story_delete {
	float: right;
	text-align: center;
	margin: 4px;
	width: 260px;
	border-radius: 10px;
	background-color: #ff4444;
}
#story_delete a {
	color: #fff;
	font-size: 20px;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#story_delete a:hover {
	color: #00ffff;
}

/*  Для файлов story_add.tpl и story_edit.tpl */

.story_picture {
	border: 1px solid black;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	width: 35%;
	padding: 20px;
}
.story_form {
	border: 1px solid black;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
	padding: 20px;
	width: 90%;
}

/* Paginator */

.paginator {
	text-align: center;
	padding: 3px;
	margin: 3px;
}
.paginator a {
	font-weight: bold;
	color: #aa00ff;
	text-decoration: none;
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #aa00ff;
}

.paginator a:hover, .paginator a:active {
	border: 1px solid #AAAAff;
	color: #AAAAff;
}