@charset "UTF-8";

body {
	margin:0px;
	padding:0px;
}
.header {
	width:100%;
	height:200px;
	background-color:#310066;
	margin-left:auto;
	margin-right:auto;

}
#header_center {
	width:900px;
	margin-left:auto;
	margin-right:auto;
}
.cab {
	float: right;
	margin-top: 10px;
	margin-right: 30px;
}	

#cab_button {
	width: 160px; 
	height: 30px;
	margin-left: 20px;
	margin-bottom: 20px;
	text-align:center;
	border-radius: 10px;
	border: 2px solid #e2e2e2;
	background-color: #87CEEB;
}


#cab_button a {
	font-size: 20px;
	color: #fff;
	text-decoration: none;
	font-family:  "Comic Sans MS", cursive, sans-serif;
}

#cab_login {
	display: inline;
	margin-left: 5px;
	color: #ffffff;
}

#cab_login a {
	color: #ffffff;
	text-decoration: none;
}

.nav {
	float: right;
	margin-top: 140px; 
	text-align:center;

}

#nav_button {
	float:left;
	margin-left:50px;
	padding-right: 10px;
	padding-left: 10px;
	height: 30px;
	border-radius: 10px;
	border: 1px solid #e2e2e2;
	background-color: #e6e6fa;

}
#nav_button_back {
	float: left;
	margin-right: 50px;
	padding-right: 10px;
	padding-left: 10px;
	height: 30px;
	border-radius: 10px;
	border: 1px solid #e2e2e2;
	background-color: #e6e6fa;
}

.nav a {
	font-size:22px;
	color: #310066;
	font-family:  "Comic Sans MS", cursive, sans-serif;
	text-decoration: none;
}


.content {
	width: 100%;
}

.footer_bar {
	width:100%;
	height:100px;
	background-color: #310066;
}

.footer_copyright {
	text-align: center;
	font-size: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #310066;
}

#redtext {
	color: #f00;
}

#LoveStory {
	color: #FF0099;	
	font-family: Gabriola, Arial, Helvetica, sans-serif;
	font-size: 28px;
}

#infomessage {
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
	font-size: 25px;
}